<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">ส่วนชำระเงิน</div>
                    <a class="nav-link" href="../pages/buyitem.php">
                        <img src="../image/system/icons8-cart-64.png" class="me-2" width="25">
                        ชำระสินค้า
                    </a>
                    <a class="nav-link" href="../pages/buyhistory.php">
                        <img src="../image/system/icons8-history-64.png" class="me-2" width="25">
                        ประวัติการซื้อสินค้า
                    </a>
                    <div class="sb-sidenav-menu-heading">ส่วนเกี่ยวกับสินค้า</div>
                    <a class="nav-link" href="../pages/additems.php">
                        <img src="../image/system/icons8-add-parcel-item-from-logistic-website-portal-24.png"
                            class="me-2" width="25">
                        เพิ่มสินค้า
                    </a>
                    <?php if($_SESSION['admin'] == '1'){?> 
                    <div class="sb-sidenav-menu-heading">ส่วนผู้จัดการร้านค้า</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#staff"
                        aria-expanded="false" aria-controls="staff">
                        <img src="../image/system/icons8-staff-48.png" class="me-2" width="25">
                        พนักงาน
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>
                    <div class="collapse" id="staff" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="../pages/staff.php">
                                พนักงานทั้งหมด
                            </a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="../pages/product.php">
                        <img src="../image/system/icons8-product-64.png" class="me-2" width="25">
                        สินค้า
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>
                    <a class="nav-link maket" href="#" data-bs-toggle="collapse" data-bs-target="#marketing"
                        aria-expanded="false" aria-controls="marketing">
                        <img src="../image/system/icons8-marketing-48.png" class="me-2" width="25">
                        การตลาด
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>
                    <div class="collapse" id="marketing" aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link maket" href="../pages/marketing.php">
                                สรุปภาพรวม
                            </a>
                        </nav>
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link maket" href="../pages/statement.php">
                                ประวัติการซื้อสินค้าทั้งหมด
                            </a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="../pages/news.php">
                        <img src="../image/system/icons8-news-64.png" class="me-2" width="25">
                        ข่าวสาร
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>

                    <a class="nav-link collapsed" href="../pages/note.php">
                        <img src="../image/system/icons8-note-48.png" class="me-2" width="25">
                        บันทึก
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>
                    <a class="nav-link collapsed" href="../pages/settings.php">
                        <img src="../image/system/icons8-settings-32.png" class="me-2" width="25">
                        ตั้งค่าร้านค้า
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>
                    <?php }?>
                    <div class="sb-sidenav-menu-heading">ช่วยเหลือ</div>
                    <a class="nav-link" href="../document/document.php">
                        <img src="../image/system/icons8-document-50.png" class="me-2" width="25">
                        คู่มือการใช้งาน
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">ชื่อพนักงาน :
                    <?= $name_staff ?>
                </div>

            </div>
        </nav>
    </div>