<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.php">ระบบร้านค้า</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><img width="30"src="../image/system/icons8-menu-64.png"></button>
    <!-- Navbar Search-->
    <form method="GET" action="search.php" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" name="keyword" type="text" placeholder="ค้นหาที่นี่...">
            <button class="btn btn-info" id="btnNavbarSearch" type="submit"><img src="../image/system/icons8-search-30.png" width="20"></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="../image/system/icons8-person-60 (1).png" width="30"></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="editprofile.php">ข้อมูลส่วนตัว</a></li>
                <li><hr class="dropdown-divider" /></li>

                <li><a class="dropdown-item" href="login.php">ออกระบบ</a></li>
            </ul>
        </li>
    </ul>
</nav>